# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files
*.pth

# PyCharm settings
.idea/

# Environment config
.env
